{% extends 'navBar.html' %} {% load static %} {% block contentDash %}
<div class="content-container bg-primary">
  <div class="container mt-5">
    <h2 class="text-center border-bottom border-success">Reportes</h2>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="m-3 cardsEstadistics" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">47</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary text-center">
              Emergencias atendidas
            </h6>
          </div>
        </div>
      </div>
      <div class="m-3 cardsEstadistics" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">65</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary text-center">
              Incendios atendidos
            </h6>
          </div>
        </div>
      </div>
      <div class="m-3 cardsEstadistics" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">76</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary text-center">
              Personal activo
            </h6>
          </div>
        </div>
      </div>

      <div class="m-3 cardsEstadistics" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">23</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary text-center">
              Emergencias reportadas
            </h6>
          </div>
        </div>
      </div>

      <div class="m-3" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h1>Grafica</h1>
          </div>
        </div>
      </div>

      <div class="m-3" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h1>Grafica</h1>
          </div>
        </div>
      </div>

      <div class="m-3" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h1>Grafica</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contentDash %}
